/* The elment with id="body" */
body {
background-color: #00b3e6;
}

/* The element with id="div" */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue";
  background-color: white;
  padding: 30px;
}

/* The element with id="main-header" */
#main-header {
  font-size: 22px;
  color: red;
}

/* The element with id="perspective-questions" */
.perspective-questions {
  font-style: italic;
}
